<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "railsajax" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "yeti", :media => "all" %>
  <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>
</head>
<body>
<%= yield %>

</body>
</html>
